body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:  #ffffff;
    /*font-family: ;*/
}

 .logo {
    font-size: 80px;
    font-weight: bold;
     letter-spacing: -3px; /* tighter like real Google */
}
  

  .blue { color: #4285F4; }
  .red { color: #EA4335; }
  .yellow { color: #FBBC05; }
  .green { color: #34A853; }

input,button {
    border-radius: 25px;
    padding: 10px 15px;
}

input{
    width: 500px;
    margin-bottom: 15px;
       /* FIXED COLOR */
     border: 1px solid #dfe1e5;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: white;
    outline: none;
}

button{
    width: 150px;
       /* FIXED COLOR */
    background-color: #f8f9fa;
    color: #3c4043;
    border: 1px solid #f8f9fa;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 10px;
}
